.todas {
    width: 420px;
    margin: 0 auto;
}

.linhaTitulo {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #c8e3c653;
    border: 1px dashed #59bb5236;
}

.nd {
    border-radius: 50%; 
    border-color: #CCCCCC;
}
.nsel {
    background-color: bisque;
}

.njogo {
    border-radius: 6px;
    padding: 4px;
    border-color: rgb(246, 228, 228);
}

.tempo {
    color: blue;
}

.pontos {
    font-weight:bold;
}

.linha0, .linha1, .linha2 {
    background-color: rgb(240, 244, 245);
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-content:space-around;
    /* color:rgba(88, 179, 195, 0.947); */
}

.linha0cel0, .linha0cel1, .linha0cel2,
.linha1cel0, .linha1cel1, .linha1cel2,
.linha2cel0, .linha2cel1, .linha2cel2 {
    background-color:rgb(230, 230, 230);
    /* padding: 2px 2px; */
    border: 1px dotted rgba(248, 200, 165, 0.947);
    box-shadow: 5px 5px rgb(241, 224, 224);
    /* margin: 8px 4px; */
}

.cadalinpeq {
    display: flex;    
}

.cadapos {
    background-color:aliceblue;
    padding: 8px;
    font-size: 18px;
    border: 1px dashed #CCCCCC;
    margin: 7px;
    font-weight: bold;
    width: 8px;
    height: 15px;;
}

