/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

@font-face {
    font-family: "Digi";
    src: url("fonts/ds-digib.ttf");
}

.todas {
    width: 350px;
    margin: 0 auto;
}

.linhaTitulo {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #c8e3c653;
    border: 1px dashed #59bb5236;
    margin-bottom: 2px;
    border-radius: 5px;;
}

.nivelDificuldade {    
}

.nd {
    border-radius: 12px; 
    /* border-color: #CCCCCC; */
    border: 1px solid rgb(212, 200, 200);
    width: 25px;
    height: 25px;
    /* padding: 15px 15px 15px 15px; */
}
.nsel {
    background-color: bisque;
}

.njogo {
    border-radius: 5px;
    padding: 4px;
    /* border-color: rgb(246, 228, 228); */
}

.njogo img {
    width: 11px;
}

.cTempo {
    display: flex;
    justify-content: space-around;
    width: 60px;
}

.linhaTitulo img {
    /* margin: 0 auto; */
    width: 15px;
    /* padding: 0px; */
    /* text-align: center; */
}

.tempo {
    margin: 0 auto;
    /* padding: 0px; */
    color: blue;
    font-family: "Digi";
    /* padding: 5px; */
    width: 40px;
    font-size: 19px;
    /* background-color: red; */
}

.cPontos {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* padding-left: 15px; */
    /* flex-direction: row; */
    /* width: 60px; */
    height: 30px;
}
.cPontos img {
    width: 18px;
    /* height: 22px; */
    margin-right: 5px;
}
.pontos {
    font-weight:bold;
    font-size: 18px;

}

.linhaNumeros {
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* align-items: baseline; */

    /* display: flex;
    justify-content:space-between; */
    
    /* justify-items: center;
    justify-items: baseline;
    align-content: center;
    align-content: space-between; */
    /* align-items: center; */
    /* text-align: center; */
    /* vertical-align: middle; */

    background-color: #c8e3c653;
    margin: 2px 2px 0px 2px;
    /* margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px; */
    border-radius: 5px;
    height: 35px;
}

.linhaNumeros a {
    display: flex;
    justify-content:center;
    align-items:center;

    text-decoration: none;
    padding: 5px;
    border: 1px solid rgb(212, 200, 200);
    border-radius: 5px;
    color: #331616;
    background-color:rgb(230, 230, 230);
    height: 12px;
    width: 15px;
}

.linha0, .linha1, .linha2 {
    background-color: rgb(240, 244, 245);
    display: flex;
    justify-content: space-around;
    /* padding: 6px; */
    /* margin: 4px; */
    align-content:space-around;
}

.linha0cel0, .linha0cel1, .linha0cel2,
.linha1cel0, .linha1cel1, .linha1cel2,
.linha2cel0, .linha2cel1, .linha2cel2 {
    background-color:rgb(230, 230, 230);
    border: 1px dotted rgba(248, 200, 165, 0.947);
    /* box-shadow: 5px 5px rgb(241, 224, 224); */
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

.cadalinpeq {
    display: flex;    
}

.cadapos {
    background-color:aliceblue;
    padding: 7px;
    font-size: 16px;
    margin: 7px;
    font-weight: bold;
    width: 7px;
    height: 14px;
    border-radius: 7px;
}
.cadapos_padrao {
    border: 1px dashed #CCCCCC;
}
.cadapos_selec  {
    border: 1px solid red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.modal .content {
    background-color: #d3d3d3;
    margin: 5% auto;
    padding: 15px 15px 15px 15px;
    /* padding-left: 20px;  */
    border-radius: 5px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.content p {
    /* display: inline-block; */
    /* vertical-align: middle;  */
    /* text-align: left;  */

    margin: 0px;
    padding: 0px;
    line-height: 1.1;
    font-size: 14px;
}

.modalBtn {
    font-size: 8px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.reforcar {
    font-weight: bold;
}